extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 #{name}

        p Full Stack Software Developer
        .about-bio
          p I am a self taught full-stack software developer with over 8 years of professional experience. I have a passion for learning new technologies and enjoy helping other learn to code. My experience includes working with both small and large corporations. I also have prior experience managing junior developers. When I am not coding, I enjoy woodworking, watching movies and spending time with the family. 


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li SASS
          li JavaScript
          li jQuery
          li Node.js
          li Express
          li Pug
          li .NET 
          li C#
          li SQL/MySQL
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs

        h6 Contact Info
        div.contact-wrapper
          ul
            li 617-653-3575
            li steresa2001@yahoo.com

        a.btn-link(href='https://www.linkedin.com/in/stevengore/' target='_blank') LinkedIn
        a.btn-link(href='https://github.com/steresa2001' target='_blank') GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back