extends layout

block content
    nav.nav
        a(href='/')
            span &larr;
            |  Back
    div.not-found-wrapper
        h1.not-found= err.status
        h2.not-found-message= err.message  